footer {
    background-color: $footer;
    padding: 0 0 20px 0;
    margin: -165px 0 0 0;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 150px;
        text-align: center;
        white-space: nowrap;
        margin: 0;
        padding: 0;

        &:first-child {
            margin-top: 290px;
            filter: hue-rotate(30deg);
        }

        &:last-child {
            color: $footerLastChild;
            font-size: 16px;
            margin: auto 0 0 0;
            cursor: text;
        }
    }

    svg {
        margin-top: 15px;
    }
}

@media (max-width: 1100px) {
    footer {
        margin: -15vw 0 0 0;
        height: 62.727vw;

        p {
            font-size: 13.636vw;

            &:first-child {
                margin-top: 26.364vw;
            }
        }
    }
}

@media (max-width: 485px) {
    footer {

        p {
            &:last-child {
                font-size: 3.299vw;
            }
        }
    }
}