#literally-me {
    margin: 0;
    padding: 40px 0 30px 0;

    blockquote {
        background-color: $base-accent;
        font-size: 40px;
        text-align: center;
        margin: 0 auto 40px auto;
        padding: 20px 10px;
        width: 1200px;
        border: 3px solid $light;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.08) 0px -3px 5px;
        display: block;

        p {
            margin: 0;
            padding: 0;

            &:first-child {
                margin-bottom: 15px;
            }
        }
    }

    hr {
        width: 95%;
        margin: 2rem auto 0 auto;
        border: 2px solid $light;
        border-radius: 4px;
        display: block;
    }

    .flex-container {
        display: grid;
        grid-template-columns: 370px auto;
        grid-gap: 3px;
        margin: 60px auto;
        width: 800px;

        img {
            height: 508px;
            padding: 10px;
            border: 2px solid $light;
            filter: grayscale(100%);
            -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
            -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
            box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
            transition: padding 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;

            &:hover {
                padding: 0;
                filter: grayscale(0%);
                transform: translateX(4px);
            }
        }

        fieldset {
            font-size: 20px;
            margin: 0;
            border: 2px solid $light;
            display: inline-block;

            legend {
                font-size: 35px;
                margin: auto;
                padding: 0 10px;
            }

            p {
                margin: 0 5px;
                padding: 5px 10px;

                span {
                    @keyframes rotating {

                        0%,
                        100% {
                            transform: rotate(20deg);
                        }

                        50% {
                            transform: rotate(-10deg);
                        }
                    }

                    display: inline-block;
                    filter: hue-rotate(250deg) saturate(200%) contrast(200%);
                    transition: filter 0.3s ease-in-out;

                    &:first-child {
                        animation: rotating 0.7s ease-in-out infinite;
                    }
                }

                strong {
                    color: $primary;
                    transition: color 0.3s ease-in-out;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    #literally-me {
        padding: max(40px, 3.636vw) 0 2.727vw 0;
    }
}

@media (max-width: 1400px) {
    #literally-me {
        blockquote {
            width: 850px;
        }
    }
}

@media (max-width: 910px) {
    #literally-me {
        blockquote {
            font-size: 4.396vw;
            margin: 0 auto 4.396vw auto;
            padding: 2.198vw 1.099vw;
            width: 93.407vw;
            border: 0.33vw solid $light;
            border-radius: 2.198vw;
            box-shadow: rgba(0, 0, 0, 0.25) 0vw 18.77vw 19.23vw, rgba(0, 0, 0, 0.12) 0vw -4.13vw 9.89vw, rgba(0, 0, 0, 0.12) 0vw 1.11vw 1.67vw, rgba(0, 0, 0, 0.17) 0vw 3.32vw 3.47vw, rgba(0, 0, 0, 0.08) 0vw -0.83vw 1.39vw;

            p:first-child {
                margin-bottom: 1.648vw;
            }
        }
    }
}

@media (max-width: 850px) {
    #literally-me {
        hr {
            border: 0.235vw solid $light;
            border-radius: 0.471vw;
        }

        .flex-container {
            grid-template-columns: 43.529vw auto;
            grid-gap: 0.353vw;
            margin: 7.059vw auto;
            width: 94.118vw;

            img {
                height: 59.765vw;
                padding: 1.176vw;
                border: 0.235vw solid $light;
                -webkit-box-shadow: inset 0px 0px 33.529vw 0px rgba(0, 0, 0, 1);
                -moz-box-shadow: inset 0px 0px 3.529vw 0px rgba(0, 0, 0, 1);
                box-shadow: inset 0px 0px 3.529vw 0px rgba(0, 0, 0, 1);

                &:hover {
                    transform: translateX(0.471vw);
                }
            }

            fieldset {
                font-size: 2.353vw;
                border: 0.235vw solid $light;

                legend {
                    font-size: 4.118vw;
                    padding: 0 1.176vw;
                }

                p {
                    margin: 0 0.588vw;
                    padding: 0.588vw 1.176vw;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    #literally-me {
        .flex-container {
            grid-template-columns: 1fr;
            grid-gap: 3.077vw;

            img {
                width: 100%;
                height: 100%;
                padding: 1.538vw;
                border: 0.308vw solid $light;
                -webkit-box-shadow: inset 0px 0px 4.615vw 0px rgba(0, 0, 0, 1);
                -moz-box-shadow: inset 0px 0px 4.615vw 0px rgba(0, 0, 0, 1);
                box-shadow: inset 0px 0px 4.615vw 0px rgba(0, 0, 0, 1);

                &:hover {
                    transform: translateX(0.115vw);
                }
            }

            fieldset {
                font-size: 4.308vw;
                border: 0.308vw solid $light;

                legend {
                    font-size: 5.385vw;
                    padding: 0 1.538vw;
                }

                p {
                    margin: 0 1.846vw 1.846vw 1.846vw;
                    padding: 0.769vw 1.538vw;
                }
            }
        }
    }
}