nav {
    background-color: $navigation;
    box-shadow: 0 2px 4px -1px $navigation;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(.sidebar) {
            li:last-child {
                margin-left: auto;
            }
        }

        li {
            height: 50px;

            a {
                color: $navigationColor;
                font-family: sans-serif;
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;
                margin: 0 5px;
                padding: 0 30px;
                height: 100%;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: color .3s ease-in-out, background-color .3s ease-in-out;

                &:hover {
                    color: $navigationHoverColor;
                    background-color: $navigationHoverBackground;
                }
            }
        }
    }
}

.sidebar {
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px -1px $sidebarShadow;
    padding: 10px 0 0 0;
    list-style: none;
    position: fixed;
    top: 0;
    height: max-content;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    li {
        width: 100%;
        display: flex;

        &:not(:first-child) {
            background-color: $sidebarShadow;
        }

        &:first-child {
            width: max-content;
            fill: $sidebarFill;
            transition: fill .3s ease-in-out, background-color .3s ease-in-out;

            &:hover {
                fill: $sidebarFillHover;
            }
        }

        &:nth-child(2) {
            margin-top: 11px;
        }

        a {
            width: 100%;
        }
    }
}

.menu-button {
    display: none;
    fill: $menuButton;
    transition: fill .3s ease-in-out, background-color .3s ease-in-out;

    &:hover {
        fill: $menuHoverButton;
    }
}

@media (max-width: 800px) {
    .mobile-hide {
        display: none;
    }

    .menu-button {
        display: block;
    }
}