#projects {
    padding: 30px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    p {
        a {
            color: $primary;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .projects-container {
        margin: 30px 0 10px 0;
        padding: 10px 20px 20px 20px;
        width: 1400px;
        border: 2px solid $light;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        @media (max-width: 1450px) {
            padding: 0.5rem 0 1rem 0;
            width: 96.552vw;
        }

        legend {
            font-size: 35px;
            margin: auto;
            padding: 0 10px;
        }

        .project {
            background-color: $base-accent;
            padding: 10px;
            border: .1px solid $light;
            border-radius: 10px;
            position: relative;
            flex: 0 0 calc(33.33% - 20px);
            display: flex;
            flex-direction: column;
            transition: background-color .3s ease-in-out, transform .3s ease-in-out;

            @media (max-width: 1000px) and (min-width: 720px) {
                flex-basis: calc(50% - 20px);
            }

            @media (max-width: 720px) {
                flex-basis: calc(100% - 20px);
            }

            &:hover {
                background-color: $base-muted;
                -webkit-transform: translate(0px, -3px);
                -moz-transform: translate(0px, -3px);
                -ms-transform: translate(0px, -3px);
                -o-transform: translate(0px, -3px);
                transform: translate(0px, -3px);
            }

            .name {
                font-weight: 600;
                display: grid;
                grid-template-columns: 1fr 42px 40px;
                flex: 1;

                .github {
                    position: absolute;
                    top: 6px;
                    right: 47px;

                    path {
                        transition: fill .2s ease-in-out;
                    }

                    &:hover {
                        path {
                            fill: $primary;
                        }
                    }
                }

                .go {
                    position: absolute;
                    top: 6px;
                    right: 6px;

                    path {
                        transition: all .2s ease-in-out;
                    }

                    &:hover {
                        path {
                            stroke: $primary;
                        }
                    }
                }

                .inactive {
                    cursor: not-allowed;

                    &:hover {
                        .go {
                            path {
                                stroke: $light;
                                filter: brightness(70%);
                            }
                        }
                    }
                }
            }

            .description {
                font-size: 15px;
                margin: 7px 0 30px 0;
                flex: 10;
            }

            .technologies {
                filter: brightness(80%);
                font-weight: 600;
                font-size: 15px;
                margin-top: -15px;
            }

            .project-footer {
                margin-top: auto;
            }
        }
    }
}

@media (max-width: 1100px) {
    #projects {
        padding: 2.727vw 0 0.909vw 0;
    }
}

@media (max-width: 650px) {
    #projects {
        h1 {
            font-size: 7.692vw;
            margin-bottom: 1.538vw;
        }

        p {
            font-size: 3.846vw;
        }

        .projects-container {
            legend {
                font-size: 5.385vw;
                padding: 0 1.538vw;
            }

            .project {
                .name {
                    .github {
                        width: 6.154vw;
                        top: 1.846vw;
                        right: 7.231vw;
                    }

                    .go {
                        width: 6.154vw;
                        top: 1.846vw;
                        right: 0.923vw;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    #projects {
        .projects-container {
            margin-block: 15px;
        }
    }
}

@media (max-width: 500px) {
    #projects {
        .projects-container {
            .project {
                .description {
                    font-size: 3vw;
                    margin: 1.4vw 0 6vw 0;
                }

                .technologies {
                    font-size: 3vw;
                    margin-top: -3vw;
                }
            }
        }
    }
}