#skills {
    background: $skillsBackground;
    background: -moz-linear-gradient(180deg, $skillsBackground 1%, $projectsAndContactBackground 75%);
    background: -webkit-linear-gradient(180deg, $skillsBackground 1%, $projectsAndContactBackground 75%);
    background: linear-gradient(180deg, $skillsBackground 1%, $projectsAndContactBackground 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$skillsBackground, endColorstr=$projectsAndContactBackground, GradientType=1);
    padding: 20px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 50px;
        cursor: default;
    }

    p {
        font-size: 27px;
        margin: 12px 0;
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }

    fieldset {
        margin: 25px 0;
        padding: 15px;
        border: 2px solid $skillsBorder;

        legend {
            font-size: 35px;
            margin: auto;
            padding: 0 10px;
            cursor: default;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            gap: 5px;

            div {
                width: 115px;
                height: 115px;
                border: 2px solid $skillsBorder;
                display: inline-block;
                text-align: center;
                box-shadow: $skillsShadowFirst 0px 3px 6px, $skillsShadowSecond 0px 3px 6px;
                cursor: default;
                transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;

                &:hover {
                    background-color: $skillsDivHover;
                    border-radius: 25px;
                }

                i {
                    font-size: 75px;
                    margin: auto;
                    position: absolute;
                    transform: translate(-50%, 25%);
                    filter: saturate(200%);
                    -webkit-filter: saturate(200%);
                    -moz-filter: saturate(200%);

                    &.devicon-html5-plain,
                    &.devicon-css3-plain {
                        filter: saturate(150%);
                    }

                    &.devicon-electron-original {
                        filter: saturate(400%);
                    }
                }
            }
        }

        p {
            background-color: $skillsShowBackground;
            color: $skillsShowColor;
            font-family: "Mukta", sans-serif;
            font-weight: bold;
            text-align: center;
            margin: 20px auto 7px auto;
            padding: 0;
            width: 50%;
            border: 5px solid $skillsShowBorder;
            border-radius: 10px;
            box-shadow: $skillsShowShadow 0px 3px 8px;
            cursor: default;
        }
    }


}

@media (max-width: 1100px) {
    #skills {
        padding: 1.818vw 0 2.727vw 0;
    }
}

@media (max-width: 1300px) {
    #skills {
        fieldset {
            .grid-container {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}

@media (max-width: 675px) {
    #skills {
        p {
            font-size: 4vw;
            margin: 1.778vw 0;
            padding: 2.222vw 0;
        }

        fieldset {
            margin: 3.704vw 0;
            padding: 2.222vw;
            border: 0.296vw solid $skillsBorder;

            legend {
                font-size: 5.185vw;
                padding: 0 1.481vw;
            }

            .grid-container {
                gap: 0.741vw;

                div {
                    width: 17.037vw;
                    height: 17.037vw;
                    border: 0.296vw solid $skillsBorder;
                    box-shadow: $skillsShadowFirst 0vw 0.444vw 0.889vw, $skillsShadowSecond 0vw 0.444vw 0.889vw;

                    &:hover {
                        border-radius: 3.704vw;
                    }

                    i {
                        font-size: 11.111vw;
                    }
                }
            }

            p {
                margin: 2.963vw auto 1.037vw auto;
                border: 0.741vw solid $skillsShowBorder;
                border-radius: 1.481vw;
                box-shadow: $skillsShowShadow 0px 0.444vw 1.185vw;
            }
        }
    }
}