$bodyColor: white;

$navigationHoverColor: black;
$navigationHoverBackground: white;

$sidebarFill: white;
$sidebarFillHover: black;

$menuButton: white;
$menuHoverButton: black;

$introColorHover: white;
$introLinkColor: white;
$introLinkBorder: white;
$introLine: white;

$literallyMeBlockquoteBorder: white;
$literallyMeLine: white;
$literallyMeImageBorder: white;
$literallyMeFieldsetBorder: white;

$skillsBorder: white;
$skillsShowBackground: white;
$skillsShowColor: black;
$skillsShowBorder: black;
$skillsBlackboardBorder: white;

$projectsContainer: white;
$projectsProjectColor: white;
$projectsProjectBorder: white;

$contactFieldsetBorder: white;