$first: white;
$second: black;

$bodyColor: $first;

$introColorHover: $first;
$introLinkColor: $first;
$introLinkBorder: $first;
$introLine: $first;

$literallyMeBlockquoteBorder: $first;
$literallyMeLine: $first;
$literallyMeImageBorder: $first;
$literallyMeFieldsetBorder: $first;

$skillsBorder: $first;
$skillsShowBackground: $first;
$skillsShowColor: $second;
$skillsShowBorder: $second;
$skillsBlackboardBorder: $first;

$experienceDot: $first;

$projectsContainer: $first;
$projectsProjectColor: $first;
$projectsProjectBorder: $first;

$contactFieldsetBorder: $first;