$bodyBackground: #402A23;
$bodyColor: white;

$scrollbarBackground: #000000DA;
$scrollbarThumb: #FFFFFF1A;
$scrollbarThumbBackground: #201511;

$navigation: #00000040;
$navigationColor: #FFFDFB;
$navigationHoverColor: black;
$navigationHoverBackground: white;

$sidebarFill: white;
$sidebarFillHover: black;

$menuButton: white;
$menuHoverButton: black;

$introColor: #FFFFFFB3;
$introColorHover: white;
$introLinkBackground: #1D1716;
$introLinkHoverBackground: #443634;
$introLinkColor: white;
$introLinkBorder: white;
$introLine: white;

$literallyMeBlockquoteBackground: #00000033;
$literallyMeBlockquoteBorder: white;
$literallyMeLine: white;
$literallyMeImageBorder: white;
$literallyMeFieldsetBorder: white;
$literallyMeSpecial: #3BF280;
$literallyMeSpecialHover: #B2E035;

$skillsBackground: #A55233;
$skillsBorder: white;
$skillsDivHover: #323A47;
$skillsShowBackground: white;
$skillsShowColor: black;
$skillsShowBorder: black;
$skillsBlackboardBackgroundFirst: #4A626E;
$skillsBlackboardBackgroundSecond: #1E2130;
$skillsBlackboardBorder: white;

$projectsAndContactBackground: #59A985;
$projectsLink: #F05D23;
$projectsLinkDarker: #DB490F;
$projectsContainer: white;
$projectsProjectBackground: #4F9978;
$projectsProjectHoverBackground: #46886A;
$projectsProjectColor: white;
$projectsProjectBorder: white;
$projectsProjectInactive: silver;
$projectsProjectLanguages: #D2D2D2;

$contactFieldsetBackground: #2B4353;
$contactFieldsetHover: #F05D23;
$contactFieldsetBorder: white;

$footer: #2C5543;
$footerLastChild: #EEEEEE;