$bodyBackground: #402A23;
$bodyColor: white;

$scrollbarBackground: rgba(0, 0, 0, 0.85);
$scrollbarTrack: rgba(0, 0, 0, 0.3);
$scrollbarThumb: rgba(255, 255, 255, 0.1);
$scrollbarThumbBackground: #201511;

$navigation: rgba(0, 0, 0, 0.25);
$navigationColor: #FFFDFB;
$navigationHoverColor: black;
$navigationHoverBackground: white;

$sidebarShadow: rgba(0, 0, 0, 0.25);
$sidebarFill: white;
$sidebarFillHover: black;

$menuButton: white;
$menuHoverButton: black;

$introColor: rgba(255, 255, 255, 0.7);
$introColorHover: white;
$introShadowFirst: rgba(0, 0, 0, 0.3);
$introShadowSecond: rgba(255, 255, 255, 0.3);
$introLinkBackground: #1D1716;
$introLinkHoverBackground: #443634;
$introLinkColor: white;
$introLinkBorder: white;
$introLine: white;

$literallyMeBlockquoteBackground: rgba(0, 0, 0, 0.2);
$literallyMeBlockquoteBorder: white;
$literallyMeShadowFirst: rgba(0, 0, 0, 0.25);
$literallyMeShadowSecond: rgba(0, 0, 0, 0.12);
$literallyMeShadowThird: rgba(0, 0, 0, 0.12);
$literallyMeShadowFourth: rgba(0, 0, 0, 0.17);
$literallyMeShadowFifth: rgba(0, 0, 0, 0.09);
$literallyMeLine: white;
$literallyMeImageBorder: white;
$literallyMeImageShadow: rgba(0, 0, 0, 1);
$literallyMeFieldsetBorder: white;
$literallyMeSpecial: #3BF280;
$literallyMeSpecialHover: #B2E035;

$skillsBackground: #A55233;
$skillsBorder: white;
$skillsShadowFirst: rgba(0, 0, 0, 0.16);
$skillsShadowSecond: rgba(0, 0, 0, 0.23);
$skillsDivHover: #323A47;
$skillsShowBackground: white;
$skillsShowColor: black;
$skillsShowBorder: black;
$skillsShowShadow: rgba(0, 0, 0, 0.24);
$skillsBlackboardBackgroundFirst: rgb(74, 98, 110);
$skillsBlackboardBackgroundSecond: rgb(30, 33, 48);
$skillsBlackboardBorder: white;
$skillsBlackboardShadowFirst: rgba(0, 0, 0, 0.16);
$skillsBlackboardShadowSecond: rgba(0, 0, 0, 0.23);

$projectsAndContactBackground: #59A985;
$projectsLink: #F05D23;
$projectsLinkDarker: #DB490F;
$projectsContainer: white;
$projectsProjectBackground: #4F9978;
$projectsProjectHoverBackground: #46886A;
$projectsProjectColor: white;
$projectsProjectBorder: white;
$projectsProjectInactive: silver;
$projectsProjectLanguages: #D2D2D2;

$contactFieldsetBackground: #2B4353;
$contactFieldsetHover: #F05D23;
$contactFieldsetBorder: white;
$contactFieldsetShadow: rgba(0, 0, 0, 0.5);
$contactFieldsetHoverShadow: rgba(0, 0, 0, 0.25);

$footer: #2C5543;
$footerLastChild: #EEEEEE;