$scrollbarShadow: rgba(0, 0, 0, 0.3);

$sidebarShadow: rgba(0, 0, 0, 0.25);

$introShadowFirst: rgba(0, 0, 0, 0.3);
$introShadowSecond: rgba(255, 255, 255, 0.3);

$literallyMeShadowFirst: rgba(0, 0, 0, 0.25);
$literallyMeShadowSecond: rgba(0, 0, 0, 0.12);
$literallyMeShadowThird: rgba(0, 0, 0, 0.12);
$literallyMeShadowFourth: rgba(0, 0, 0, 0.17);
$literallyMeShadowFifth: rgba(0, 0, 0, 0.09);
$literallyMeImageShadow: rgba(0, 0, 0, 1);

$skillsShadowFirst: rgba(0, 0, 0, 0.16);
$skillsShadowSecond: rgba(0, 0, 0, 0.23);
$skillsShowShadow: rgba(0, 0, 0, 0.24);
$skillsBlackboardShadowFirst: rgba(0, 0, 0, 0.16);
$skillsBlackboardShadowSecond: rgba(0, 0, 0, 0.23);

$contactFieldsetShadow: rgba(0, 0, 0, 0.5);
$contactFieldsetHoverShadow: rgba(0, 0, 0, 0.25);