* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #402A23;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

hr {
  margin: 2rem auto 0 auto;
  border: 2px solid white;
  border-radius: 4px;
  display: block;
}

nav {
  font-family: "Mukta", sans-serif;
}
nav ul {
  position: fixed;
  top: 3.4%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: rgba(255, 255, 255, 0.85);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 20px 0;
  padding: 10px 20px;
  position: relative;
  display: block;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
nav ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: scaleY(2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
nav ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
nav ul li a:hover {
  color: black;
}
nav ul li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
nav ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

#intro {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Mukta", sans-serif;
  margin: 250px 0 400px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  transition: color 0.3s ease-in-out;
}
#intro:hover {
  color: white;
}
#intro p {
  font-size: 40px;
  margin: 0 0 -3rem 0;
  padding: 0;
}
#intro h1 {
  font-size: 100px;
  margin: 0 0 -1rem 0;
  padding: 0;
  white-space: nowrap;
  letter-spacing: 0.5rem;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
#intro a {
  background-color: #1D1716;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 45px;
  border: 2px solid white;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, all 0.3s ease-in-out;
}
#intro a:hover {
  background-color: #443634;
  border-radius: 25px;
  transform: translate(0px, 5px);
}
#intro hr {
  width: 60%;
}

#literally-me {
  background: rgb(64, 42, 35);
  background: linear-gradient(180deg, rgb(64, 42, 35) 17%, rgb(165, 82, 51) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#402a23", endColorstr="#a55233", GradientType=1);
  margin: 0;
  padding: 70px 0;
}
#literally-me blockquote {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 2vw;
  text-align: center;
  margin: 0 auto 40px auto;
  padding: 10px 5px;
  width: 70%;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: default;
  display: block;
}
#literally-me blockquote p {
  margin: 0;
  padding: 0;
}
#literally-me blockquote p:first-child {
  margin-bottom: 15px;
}
#literally-me hr {
  width: 95%;
}
#literally-me .flex-container {
  display: grid;
  grid-template-columns: 370px auto;
  grid-gap: 3px;
  margin: 60px auto;
  width: 800px;
}
#literally-me .flex-container img {
  height: 508px;
  padding: 10px;
  border: 2px solid white;
  filter: grayscale(60%);
  box-shadow: inset 0px 0px 30px 0px rgb(0, 0, 0);
  transition: all 0.5s ease-in-out;
}
#literally-me .flex-container img:hover {
  padding: 0;
  filter: grayscale(0%);
  transform: translateX(4px);
}
#literally-me .flex-container fieldset {
  font-size: 20px;
  margin: 0;
  border: 2px solid white;
  display: inline-block;
}
#literally-me .flex-container fieldset legend {
  font-size: 35px;
  margin: auto;
  padding: 0 10px;
  cursor: default;
}
#literally-me .flex-container fieldset p {
  margin: 0 5px;
  padding: 5px 10px;
}
#literally-me .flex-container fieldset p span {
  display: inline-block;
  filter: hue-rotate(85deg);
  cursor: default;
  transition: filter 0.3s ease-in-out;
}
@keyframes rotating {
  0%, 100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
#literally-me .flex-container fieldset p span:hover {
  filter: hue-rotate(30deg);
}
#literally-me .flex-container fieldset p span:first-child {
  transform: rotate(20deg);
  animation: rotating 0.7s ease-in-out infinite;
}
#literally-me .flex-container fieldset p strong {
  color: #3BF280;
  cursor: default;
  transition: color 0.3s ease-in-out;
}
#literally-me .flex-container fieldset p strong:hover {
  color: #B2E035;
}

#skills {
  background: rgb(165, 82, 51);
  background: linear-gradient(180deg, rgb(165, 82, 51) 1%, rgb(89, 169, 133) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a55233", endColorstr="#59a985", GradientType=1);
  padding: 70px 0 130px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skills p {
  font-size: 27px;
  margin: 12px 0;
  padding: 15px 0;
  width: 1200px;
  text-align: center;
}
#skills p:first-child {
  padding-top: 0;
}
#skills fieldset {
  margin: 25px 0;
  padding: 15px;
  width: 1000px;
  border: 2px solid white;
}
#skills fieldset legend {
  font-size: 35px;
  margin: auto;
  padding: 0 10px;
  cursor: default;
}
#skills fieldset .grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
#skills fieldset .grid-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  width: 115px;
  height: 115px;
  padding: 0;
  margin: 2.5px;
  border: 2px solid white;
  display: inline-block;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: default;
  transition: all 0.3s ease-in-out;
}
#skills fieldset .grid-container div:hover {
  background-color: #323A47;
  border-radius: 25px;
}
#skills fieldset .grid-container div i {
  display: inline-block;
  vertical-align: middle;
}
#skills fieldset p {
  background-color: white;
  color: black;
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 20px auto 7px auto;
  padding: 0;
  width: 50%;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: default;
}
#skills .blackboard {
  background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
  margin-top: 60px;
  width: 900px;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills .blackboard p {
  cursor: default;
}
#skills .blackboard p span {
  position: relative;
  white-space: nowrap;
}
#skills .blackboard p span:after {
  --deco-height: 0.3125em;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--deco-height) * -0.625);
  height: var(--deco-height);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300BBF0' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: round;
  background-position: 0em;
  transition: all 0.3s ease-in-out;
}

#projects {
  background-color: #59A985;
  padding: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects h1 {
  font-size: 50px;
  margin-bottom: 10px;
  cursor: default;
}
#projects p a {
  color: #F05D23;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
#projects p a:hover {
  color: #DB490F;
}
#projects .projects-container {
  margin: 35px 0;
  padding: 10px 20px 20px 20px;
  width: 1400px;
  border: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#projects .projects-container legend {
  font-size: 35px;
  margin: auto;
  padding: 0 10px;
  cursor: default;
}
#projects .projects-container .project {
  background-color: #4F9978;
  margin: 10px;
  padding: 10px;
  border: 0.1px solid white;
  border-radius: 10px;
  cursor: default;
  position: relative;
  flex: 0 0 calc(33.33% - 20px);
  transition: 0.3s;
}
#projects .projects-container .project:hover {
  background-color: #46886A;
  transform: translate(0px, -3px);
}
#projects .projects-container .project .name {
  display: inline-block;
}
#projects .projects-container .project .description {
  font-size: 15px;
  margin: 10px 0 30px 0;
  display: block;
}
#projects .projects-container .project .github {
  position: absolute;
  top: 6px;
  right: 47px;
}
#projects .projects-container .project .github path {
  transition: fill 0.3s ease-in-out;
}
#projects .projects-container .project .github:hover path {
  fill: #F05D23;
}
#projects .projects-container .project .go {
  position: absolute;
  top: 6px;
  right: 6px;
}
#projects .projects-container .project .go path {
  transition: stroke 0.3s ease-in-out;
}
#projects .projects-container .project .go:hover path {
  stroke: #F05D23;
}
#projects .projects-container .project .unactive {
  cursor: not-allowed;
}
#projects .projects-container .project .unactive:hover .go path {
  stroke: silver;
}
#projects .projects-container .project .languages {
  color: #D2D2D2;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
}

footer {
  background-color: #59A985;
  padding: 0 0 25px 0;
}
footer p {
  color: #EEEEEE;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */