* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #402A23;
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        background-color: rgba(0, 0, 0, 0.85);
        width: .5em;

        &-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &-thumb {
            background-color: #201511;
            outline: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}

.disable-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(.sidebar) {
            li:last-child {
                margin-left: auto;
            }
        }

        li {
            height: 50px;

            a {
                color: #FFFDFB;
                font-family: sans-serif;
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;
                margin: 0 5px;
                padding: 0 30px;
                height: 100%;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: color .3s ease-in-out, background-color .3s ease-in-out;

                &:hover {
                    color: black;
                    background-color: white;
                }
            }
        }
    }
}

.sidebar {
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    padding: 10px 0 0 0;
    list-style: none;
    position: fixed;
    top: 0;
    height: max-content;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    li {
        width: 100%;
        display: flex;

        &:not(:first-child) {
            background-color: rgba(0, 0, 0, 0.25);
        }

        &:first-child {
            width: max-content;
            fill: white;
            transition: fill .3s ease-in-out, background-color .3s ease-in-out;

            &:hover {
                fill: black;
            }
        }

        &:nth-child(2) {
            margin-top: 11px;
        }

        a {
            width: 100%;
        }
    }
}

.menu-button {
    display: none;
    fill: white;
    transition: fill .3s ease-in-out, background-color .3s ease-in-out;

    &:hover {
        fill: black;
    }
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

#intro {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Mukta", sans-serif;
    margin: 300px 0 400px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: white;
    }

    p {
        font-size: 40px;
        margin: 0 0 -3rem 0;
        padding: 0;
    }

    h1 {
        font-size: 100px;
        margin: 0 0 -1rem 0;
        padding: 0;
        white-space: nowrap;
        letter-spacing: .5rem;
        text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
            0px -4px 10px rgba(255, 255, 255, 0.3);
    }

    a {
        background-color: #1D1716;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 45px;
        border: 2px solid white;
        border-radius: 7px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            background-color: #443634;
            border-radius: 25px;
            -webkit-transform: translate(0px, 5px);
            -moz-transform: translate(0px, 5px);
            -ms-transform: translate(0px, 5px);
            -o-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
        }
    }

    hr {
        width: 60%;
        margin: 2rem auto 0 auto;
        border: 2px solid white;
        border-radius: 4px;
        display: block;
    }
}

@media (max-width: 1100px) {
    #intro {

        p {
            font-size: 3.64vw;
            margin: 0 0 -4.36vw 0;
        }

        h1 {
            font-size: 9.09vw;
            margin: 0 0 -1.45vw 0;
            letter-spacing: 0.73vw;
            text-shadow: 0.18vw 0.64vw 0.45vw rgba(0, 0, 0, 0.3),
                0vw -0.36vw 0.91vw rgba(255, 255, 255, 0.3);
        }

        a {
            padding: 0.91vw 1.82vw;
            font-size: 4.09vw;
            border: 0.18vw solid white;
            border-radius: 0.64vw;

            &:hover {
                border-radius: 2.25vw;
                -webkit-transform: translate(0px, 0.45vw);
                -moz-transform: translate(0px, 0.45vw);
                -ms-transform: translate(0px, 0.45vw);
                -o-transform: translate(0px, 0.45vw);
                transform: translate(0px, 0.45vw);
            }
        }

        hr {
            width: 90%;
            margin: 2.91vw auto 0 auto;
            border: 0.18 solid white;
            border-radius: 0.36vw;
        }
    }
}

@media (max-width: 700px) {
    #intro {
        a {
            padding: 1.365vw 2.73vw;
            font-size: 6.135vw;
            border: 0.27vw solid white;
            border-radius: 0.96vw;

            &:hover {
                border-radius: 3.375vw;
                -webkit-transform: translate(0px, 0.675vw);
                -moz-transform: translate(0px, 0.675vw);
                -ms-transform: translate(0px, 0.675vw);
                -o-transform: translate(0px, 0.675vw);
                transform: translate(0px, 0.675vw);
            }
        }
    }
}

@media (max-width: 630px) {
    #intro {
        p {
            font-size: 3.64vw;
            margin: 0 0 -3.5vw 0;
        }
    }
}

#literally-me {
    background: rgb(64, 42, 35);
    background: -moz-linear-gradient(180deg, rgba(64, 42, 35, 1) 17%, rgba(165, 82, 51, 1) 75%);
    background: -webkit-linear-gradient(180deg, rgba(64, 42, 35, 1) 17%, rgba(165, 82, 51, 1) 75%);
    background: linear-gradient(180deg, rgba(64, 42, 35, 1) 17%, rgba(165, 82, 51, 1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#402a23", endColorstr="#a55233", GradientType=1);
    margin: 0;
    padding: 100px 0 80px 0;

    blockquote {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 40px;
        text-align: center;
        margin: 0 auto 40px auto;
        padding: 20px 10px;
        width: 1200px;
        border: 3px solid white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        cursor: default;
        display: block;

        p {
            margin: 0;
            padding: 0;

            &:first-child {
                margin-bottom: 15px;
            }
        }
    }

    hr {
        width: 95%;
        margin: 2rem auto 0 auto;
        border: 2px solid white;
        border-radius: 4px;
        display: block;
    }

    .flex-container {
        display: grid;
        grid-template-columns: 370px auto;
        grid-gap: 3px;
        margin: 60px auto;
        width: 800px;

        img {
            height: 508px;
            padding: 10px;
            border: 2px solid white;
            filter: grayscale(60%);
            -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
            -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
            box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
            transition: padding 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;

            &:hover {
                padding: 0;
                filter: grayscale(0%);
                transform: translateX(4px);
            }
        }

        fieldset {
            font-size: 20px;
            margin: 0;
            border: 2px solid white;
            display: inline-block;

            legend {
                font-size: 35px;
                margin: auto;
                padding: 0 10px;
                cursor: default;
            }

            p {
                margin: 0 5px;
                padding: 5px 10px;

                span {
                    @keyframes rotating {

                        0%,
                        100% {
                            transform: rotate(20deg);
                        }

                        50% {
                            transform: rotate(-10deg);
                        }
                    }

                    display: inline-block;
                    filter: hue-rotate(85deg);
                    cursor: default;
                    transition: filter 0.3s ease-in-out;

                    &:hover {
                        filter: hue-rotate(30deg);
                    }

                    &:first-child {
                        transform: rotate(20deg);
                        animation: rotating 0.7s ease-in-out infinite;
                    }
                }

                strong {
                    color: #3BF280;
                    cursor: default;
                    transition: color 0.3s ease-in-out;

                    &:hover {
                        color: #B2E035;
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    #literally-me {
        padding: max(75px, 9.091vw) 0 7.273vw 0;
    }
}

@media (max-width: 1400px) {
    #literally-me {
        blockquote {
            width: 850px;
        }
    }
}

@media (max-width: 910px) {
    #literally-me {
        blockquote {
            font-size: 4.396vw;
            margin: 0 auto 4.396vw auto;
            padding: 2.198vw 1.099vw;
            width: 93.407vw;
            border: 0.33vw solid white;
            border-radius: 2.198vw;
            box-shadow: rgba(0, 0, 0, 0.25) 0vw 18.77vw 19.23vw, rgba(0, 0, 0, 0.12) 0vw -4.13vw 9.89vw, rgba(0, 0, 0, 0.12) 0vw 1.11vw 1.67vw, rgba(0, 0, 0, 0.17) 0vw 3.32vw 3.47vw, rgba(0, 0, 0, 0.09) 0vw -0.83vw 1.39vw;

            p:first-child {
                margin-bottom: 1.648vw;
            }
        }
    }
}

@media (max-width: 850px) {
    #literally-me {

        hr {
            border: 0.235vw solid white;
            border-radius: 0.471vw;
        }

        .flex-container {
            grid-template-columns: 43.529vw auto;
            grid-gap: 0.353vw;
            margin: 7.059vw auto;
            width: 94.118vw;

            img {
                height: 59.765vw;
                padding: 1.176vw;
                border: 0.235vw solid white;
                -webkit-box-shadow: inset 0px 0px 33.529vw 0px rgba(0, 0, 0, 1);
                -moz-box-shadow: inset 0px 0px 3.529vw 0px rgba(0, 0, 0, 1);
                box-shadow: inset 0px 0px 3.529vw 0px rgba(0, 0, 0, 1);

                &:hover {
                    transform: translateX(0.471vw);
                }
            }

            fieldset {
                font-size: 2.353vw;
                border: 0.235vw solid white;

                legend {
                    font-size: 4.118vw;
                    padding: 0 1.176vw;
                }

                p {
                    margin: 0 0.588vw;
                    padding: 0.588vw 1.176vw;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    #literally-me {
        .flex-container {
            grid-template-columns: 1fr;
            grid-gap: 3.077vw;

            img {
                width: 100%;
                height: 100%;
                padding: 1.538vw;
                border: 0.308vw solid white;
                -webkit-box-shadow: inset 0px 0px 4.615vw 0px rgba(0, 0, 0, 1);
                -moz-box-shadow: inset 0px 0px 4.615vw 0px rgba(0, 0, 0, 1);
                box-shadow: inset 0px 0px 4.615vw 0px rgba(0, 0, 0, 1);

                &:hover {
                    transform: translateX(0.115vw);
                }
            }

            fieldset {
                font-size: 4.308vw;
                border: 0.308vw solid white;

                legend {
                    font-size: 5.385vw;
                    padding: 0 1.538vw;
                }

                p {
                    margin: 0 1.846vw 1.846vw 1.846vw;
                    padding: 0.769vw 1.538vw;
                }
            }
        }
    }
}

#skills {
    background: rgb(165, 82, 51);
    background: -moz-linear-gradient(180deg, rgba(165, 82, 51, 1) 1%, rgba(89, 169, 133, 1) 75%);
    background: -webkit-linear-gradient(180deg, rgba(165, 82, 51, 1) 1%, rgba(89, 169, 133, 1) 75%);
    background: linear-gradient(180deg, rgba(165, 82, 51, 1) 1%, rgba(89, 169, 133, 1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a55233", endColorstr="#59a985", GradientType=1);
    padding: 70px 0 130px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 27px;
        margin: 12px 0;
        padding: 15px 0;
        width: 100%;
        text-align: center;

        &:first-child {
            padding-top: 0;
        }
    }

    fieldset {
        margin: 25px 0;
        padding: 15px;
        border: 2px solid white;

        legend {
            font-size: 35px;
            margin: auto;
            padding: 0 10px;
            cursor: default;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 5px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 75px;
                width: 115px;
                height: 115px;
                padding: 0;
                border: 2px solid white;
                display: inline-block;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                cursor: default;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #323A47;
                    border-radius: 25px;
                }

                i {
                    display: inline-block;
                    vertical-align: middle;
                    filter: saturate(200%);
                    -webkit-filter: saturate(200%);
                    -moz-filter: saturate(200%);
                }
            }
        }

        p {
            background-color: white;
            color: black;
            font-family: "Mukta", sans-serif;
            font-weight: bold;
            text-align: center;
            margin: 20px auto 7px auto;
            padding: 0;
            width: 50%;
            border: 5px solid black;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: default;
        }
    }

    .blackboard {
        background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
        margin-top: 60px;
        width: 900px;
        border: 2px solid white;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            cursor: default;

            span {
                position: relative;
                white-space: nowrap;

                &:after {
                    --deco-height: 0.3125em;
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: calc(var(--deco-height) * -0.625);
                    height: var(--deco-height);
                    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300BBF0' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    background-size: auto 100%;
                    background-repeat: round;
                    background-position: 0em;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    #skills {
        padding: max(60px, 6.364vw) 0 11.818vw 0;
    }
}

@media (max-width: 1060px) {
    #skills {
        fieldset {
            .grid-container {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

@media (max-width: 540px) {
    #skills {
        p {
            font-size: 5vw;
            margin: 2.222vw 0;
            padding: 2.778vw 0;
            width: 100%;
        }

        fieldset {
            margin: 4.63vw 0;
            padding: 2.778vw;
            width: 18.519vw;
            border: 0.37vw solid white;

            legend {
                font-size: 6.481vw;
                padding: 0 1.852vw;
            }

            .grid-container {
                div {
                    font-size: 13.889vw;
                    width: 21.296vw;
                    height: 21.296vw;
                    border: 0.37vw solid white;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 0.556vw 1.111vw, rgba(0, 0, 0, 0.23) 0px 0.556vw 1.111vw;

                    &:hover {
                        border-radius: 4.63vw;
                    }
                }
            }

            p {
                margin: 3.704vw auto 1.296vw auto;
                border: 0.926vw solid black;
                border-radius: 1.852vw;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 0.556vw 1.481vw;
            }
        }
    }
}

@media (min-width: 960px) {
    #skills {
        .blackboard {
            dotlottie-player {
                width: 800px;
                height: 266.67px;
            }
        }
    }
}

@media (max-width: 960px) {
    #skills {
        .blackboard {
            margin-top: 6.25vw;
            width: 93.75vw;
            border: 0.208vw solid white;
            border-radius: 2.604vw;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 0.313vw 0.625vw, rgba(0, 0, 0, 0.23) 0px 0.313vw 0.625vw;

            p {
                font-size: 2.813vw;
                margin: 1.25vw 0;
                padding: 0.417vw 0 1.563vw 0;
            }

            span {
                &:after {
                    --deco-height: 0.3125em;
                    background-position: 0em;
                }
            }
        }

        dotlottie-player {
            width: 83.333vw;
            height: 27.778vw;
        }
    }
}

#projects {
    background-color: #59A985;
    padding: 90px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 50px;
        margin-bottom: 10px;
        cursor: default;
    }

    p {
        a {
            color: #F05D23;
            font-weight: bold;
            text-decoration: none;
            transition: color .3s ease-in-out;

            &:hover {
                color: #DB490F;
            }
        }
    }

    .projects-container {
        margin: 35px 0;
        padding: 10px 20px 20px 20px;
        width: 1400px;
        border: 2px solid white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        @media (max-width: 1450px) {
            padding: 0.5rem 0 1rem 0;
            width: 96.552vw;
        }

        legend {
            font-size: 35px;
            margin: auto;
            padding: 0 10px;
            cursor: default;
        }

        .project {
            background-color: #4F9978;
            padding: 10px;
            border: .1px solid white;
            border-radius: 10px;
            cursor: default;
            position: relative;
            flex: 0 0 calc(33.33% - 20px);
            display: flex;
            flex-direction: column;
            transition: background-color .3s ease-in-out, transform .3s ease-in-out;

            @media (max-width: 1000px) and (min-width: 720px) {
                flex-basis: calc(50% - 20px);
            }

            @media (max-width: 720px) {
                flex-basis: calc(100% - 20px);
            }

            &:hover {
                background-color: #46886A;
                -webkit-transform: translate(0px, -3px);
                -moz-transform: translate(0px, -3px);
                -ms-transform: translate(0px, -3px);
                -o-transform: translate(0px, -3px);
                transform: translate(0px, -3px);
            }

            .name {
                color: white;
                font-weight: 600;
                display: grid;
                grid-template-columns: 1fr 42px 40px;
                flex: 1;

                .github {
                    position: absolute;
                    top: 6px;
                    right: 47px;

                    path {
                        transition: fill .3s ease-in-out;
                    }

                    &:hover {
                        path {
                            fill: #F05D23;
                        }
                    }
                }

                .go {
                    position: absolute;
                    top: 6px;
                    right: 6px;

                    path {
                        transition: stroke .3s ease-in-out;
                    }

                    &:hover {
                        path {
                            stroke: #F05D23;
                        }
                    }
                }

                .inactive {
                    cursor: not-allowed;

                    &:hover {
                        .go {
                            path {
                                stroke: silver;
                            }
                        }
                    }
                }
            }

            .description {
                font-size: 15px;
                margin: 7px 0 30px 0;
                flex: 10;
            }

            .languages {
                color: #D2D2D2;
                font-weight: bold;
                font-size: 15px;
                margin-top: -15px;
            }

            .project-footer {
                margin-top: auto;
            }
        }
    }
}

@media (max-width: 1100px) {
    #projects {
        padding: max(75px, 8.182vw) 0 0 0;
    }
}

@media (max-width: 650px) {
    #projects {
        h1 {
            font-size: 7.692vw;
            margin-bottom: 1.538vw;
        }

        p {
            font-size: 3.846vw;
        }

        .projects-container {
            legend {
                font-size: 5.385vw;
                padding: 0 1.538vw;
            }

            .project {
                .name {
                    .github {
                        width: 6.154vw;
                        top: 1.846vw;
                        right: 7.231vw;
                    }

                    .go {
                        width: 6.154vw;
                        top: 1.846vw;
                        right: 0.923vw;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    #projects {
        .projects-container {
            margin-block: 15px;
        }
    }
}

@media (max-width: 500px) {
    #projects {
        .projects-container {
            .project {
                .description {
                    font-size: 3vw;
                    margin: 1.4vw 0 6vw 0;
                }

                .languages {
                    font-size: 3vw;
                    margin-top: -3vw;
                }
            }
        }
    }
}

#contact {
    background-color: #59A985;
    padding: 100px 100px 0 100px;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    fieldset {
        background-color: #2B4353;
        width: 1000px;
        height: 300px;
        border: 5px solid white;
        border-radius: 15px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: border .3s ease-in-out, transform .3s ease-in-out, box-shadow .3s ease-in-out;

        &:hover {
            border: 5px solid #F05D23;
            transform: translateY(-5px);
            box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
        }

        h1 {
            font-family: "Mukta", sans-serif;
            font-size: 80px;
            font-weight: 300;
            text-align: center;
            margin: 10px 0 0 0;
            padding: 0 0 0;
        }

        .contact-info {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin: 0 20px;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                path {
                    transition: all .3s ease-in-out;
                }

                &:first-child:hover path {
                    stroke: #F05D23;
                }

                &:not(:first-child):hover path {
                    fill: #F05D23;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    #contact {
        padding: 9.09vw 9.09vw 0 9.09vw;

        fieldset {
            width: 90.91vw;
            height: 27.27vw;
            border: 0.45vw solid white;
            border-radius: 1.36vw;
            box-shadow: 0px 0.45vw 0.91vw 0px rgba(0, 0, 0, 0.5);

            &:hover {
                border: 0.45vw solid #F05D23;
                transform: translateY(-0.45vw);
                box-shadow: 0px 0.91vw 1.82vw 0.18vw rgba(0, 0, 0, 0.25);
            }

            h1 {
                font-size: 7.27vw;
                margin: 0.91vw 0 0 0;
            }

            .contact-info {
                a {
                    margin: 0 1.82vw;

                    svg {
                        width: 8.636vw;
                        height: 8.636vw;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #2C5543;
    padding: 0 0 20px 0;
    margin: -165px 0 0 0;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 150px;
        text-align: center;
        white-space: nowrap;
        margin: 0;
        padding: 0;

        &:first-child {
            margin-top: 290px;
            filter: hue-rotate(30deg);
        }

        &:last-child {
            color: #EEEEEE;
            font-size: 16px;
            margin: auto 0 0 0;
        }

        &:not(:last-child) {
            cursor: default;
        }
    }

    svg {
        margin-top: 15px;
    }
}

@media (max-width: 1100px) {
    footer {
        margin: -15vw 0 0 0;
        height: 62.727vw;

        p {
            font-size: 13.636vw;

            &:first-child {
                margin-top: 26.364vw;
            }
        }
    }
}

@media (max-width: 485px) {
    footer {

        p {
            &:last-child {
                font-size: 3.299vw;
            }
        }
    }
}