body {
    font-size: 20px;
    margin: 20px;
    margin-top: 0;
    line-height: 1.5;
}

header p {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    margin: -4vw 0 0 0;
    display: block;
}

h1 {
    font-size: 5vw;
    margin-top: 15px;
    text-align: center;
}

h2 {
    margin: 2vw 0 0 0;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 15px;
    }

    header p {
        font-size: 3vw;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        margin: 3vw 0 0 0;
    }
}

a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #7393B3;
}

li,
.license {
    line-height: 2;
}

kbd {
    width: 60%;
    margin: 2vw 0 -0.5vw 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

kbd img {
    border: 0.4vw solid #7393B3;
    border-radius: 0.2vw;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

img {
    max-width: 100%;
    height: auto;
}