1header {
    background-color: #010A14;
    border-bottom: 1px solid white;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header a {
    color: white;
    background-color: #010A14;
    font-family: "Space Mono", monospace;
    font-size: min(5vw, 70px);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
    margin: 0.55vh 0.5vh;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    text-wrap: nowrap;
    transition: color 0.3s, background-color 0.3s;
}

header a:hover {
    color: black;
    background-color: white;
}

header img {
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    border: 3px solid white;
    border-radius: 10px;
    overflow: scroll;
    opacity: 1;
    transition: opacity 0.3s, outline 0.2s, box-shadow 0.2s, filter 0.2s;
}

header img:hover {
    outline: 3px solid transparent;
    box-shadow: 0 0 0 3px black;
    filter: invert(100%);
}

@media screen and (max-width: 1500px) {
    header img {
        opacity: 0;
    }
}

@media screen and (max-width: 700px) {
    header a {
        font-size: 4vw;
        margin: 1vh .5vh;
    }
}
