.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2vh 0 1vh 0;
    padding: 0;
    user-select: none;
}

@media screen and (max-width: 1650px) {
    .title {
        margin: 0;
    }
}

.underline {
    font-size: 7vw;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

@media screen and (max-width: 400px) {
    .underline {
        margin: 0 0 -10px 0;
    }
}

@media screen and (min-width: 2000px) {
    .underline {
        font-size: 140px;
    }
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #7393B3;
    opacity: 0;
    transition: all 0.3s ease;
}

.underline:hover {
    color: #7393B3;
}

.underline:hover::after,
.underline:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.underline::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.underline:hover::after,
.underline:focus::after {
    transform: scale(1);
}

fieldset {
    text-align: center;
    background-color: #001733;
    border: 2px solid #7393B3;
    border-radius: 7px;
    margin: 0.5rem 1rem 2rem 1rem;
    padding: 0.7rem;
}

fieldset .text {
    font-size: 24px;
    margin: 0;
    padding: 5px;
}

.projects-container {
    background-color: #001B36;
    text-align: center;
    margin: 0.5rem 1rem 2rem 1rem;
    padding: 20px 0;
    border: 2px solid #7393B3;
    border-radius: 7px;
}

.projects-container h1 {
    margin: 0 0 20px 0;
    padding: 0;
    cursor: default;
}

.projects-container .click {
    color: #D2D2D2;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.projects-container .click:hover {
    color: white;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

.project {
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 95%;
    max-width: 700px;
    height: 100%;
    border: 5px solid #7393B3;
    border-radius: 5px;
    cursor: default;
}

.project:nth-child(2n + 1) {
    margin-left: auto;
}

.project:nth-child(2n) {
    margin-right: auto;
}

.project-name {
    padding: 30px 0;
}

.project-name p,
.project-name h6 {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.project-name p {
    font-size: 35px;
}

.project-name h6 {
    color: #D2D2D2;
    font-size: 25px;
}

.links a {
    font-size: 25px;
    padding: 15px 0;
    width: 100%;
    text-decoration: none;
    display: inline-block;
}

.links .inactive {
    color: darkgray;
}

hr {
    border: 2px solid #7393B3;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 850px) {
    fieldset {
        margin-bottom: 1rem;
    }

    fieldset .text {
        font-size: 16px;
    }

    .projects-container h1 {
        font-size: 6vw;
    }

    .projects-list {
        grid-template-columns: 1fr;
        margin: 0 20px;
    }

    .project {
        width: 100%;
        max-width: none;
    }

    .project-name p {
        font-size: 7.5vw;
    }

    .project-name h6 {
        font-size: 4vw;
    }

    .links a {
        font-size: 5vw;
    }

    .project:nth-child(2n + 1),
    .project:nth-child(2n) {
        margin-left: auto;
        margin-right: auto;
    }
}

.my-website {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #004567;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #00273A;
    }
}

.my-website {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #004567;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #00273A;
    }
}

.lifebluesnake {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #005792;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #003458;
    }
}

.geometric-sequence-checker {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #33006F;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #190037;
    }
}

.moving-day-counter {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #975E23;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #4B2F11;
    }
}

.metal-gear-timeline {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #0E3658;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #082035;
    }
}

.service-replica {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #E50914;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #72050A;
    }
}

.hoodie-color-picker {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #E8630A;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #8B3B06;
    }
}

.youtube {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #E60000;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #8A0000;
    }
}

.amazon {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #FF9900;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #995C00;
    }
}

.to-do-list {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #008000;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #004000;
    }
}

.rock-paper-scissors {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #191919;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #303030;
    }
}

.forms {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #5E63B6;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #343772;
    }
}

.calculator {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #FF5D9E;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #FF297F;
    }
}

.dogs-gallery {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #CB975B;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #B37A39;
    }
}

.mole-game {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #255347;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #16322B;
    }
}