.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2vh 0 1vh 0;
    padding: 0;
    user-select: none;
}

@media screen and (max-width: 1650px) {
    .title {
        margin: 0;
    }
}

.underline {
    font-size: 7vw;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

@media screen and (max-width: 400px) {
    .underline {
        margin: 0 0 -10px 0;
    }
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #7393B3;
    opacity: 0;
    transition: all 0.3s ease;
}

.underline:hover {
    color: #7393B3;
}

.underline:hover::after,
.underline:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.underline::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.underline:hover::after,
.underline:focus::after {
    transform: scale(1);
}

fieldset {
    text-align: center;
    background-color: #001733;
    border: 2px solid #7393B3;
    border-radius: 7px;
    margin: 0.5rem 1rem 2rem 1rem;
    padding: 0.7rem;
}

fieldset .text {
    font-size: 24px;
    margin: 0;
    padding: 5px;
}

.project-list {
    text-align: center;
    margin: 0.5rem 1rem 2rem 1rem;
    padding: 20px 0;
    border: 2px solid #7393B3;
    border-radius: 7px;
}

.project-list h1 {
    margin: 0 0 20px 0;
    padding: 0;
}

.project-list .click {
    color: #D2D2D2;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.project-list .click:hover {
    color: white;
}

.project-container {
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 700px;
    height: 100%;
    border: 3px solid #7393B3;
    cursor: grab;
}

.project-name {
    padding: 30px 0;
}

.project-name p,
.project-name h6 {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.project-name p {
    font-size: 35px;
}

.project-name h6 {
    color: #D2D2D2;
    font-size: 25px;
}

.links a {
    font-size: 25px;
    padding: 15px 0;
    width: 100%;
    text-decoration: none;
    display: inline-block;
}

hr {
    border: 2px solid #7393B3;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1200px) {
    .project-name p {
        font-size: 30px;
    }

    .project-name h6 {
        font-size: 20px;
    }

    .links a {
        font-size: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .project-name p {
        font-size: 23px;
    }

    .project-name h6 {
        font-size: 15px;
    }

    .links a {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    fieldset {
        margin-bottom: 1rem;
    }

    fieldset .text {
        font-size: 16px;
    }

    .project-name p {
        font-size: 7.5vw;
    }

    .long .project-name p {
        font-size: 5vw;
    }

    .long .project-name h6 {
        font-size: 4vw;
        margin: 0;
    }

    .project-name h6 {
        font-size: 4vw;
        margin: -1vw 0;
    }

    .links a {
        font-size: 5vw;
    }

    .project-list h1 {
        font-size: 6vw;
    }
}

@media screen and (min-width: 2000px) {
    .underline {
        font-size: 140px;
    }
}

[data-name="My Website"],
.my-website .files:hover,
.my-website .browser:hover {
    background-color: #1A8B9D;
    transition: background-color 0.3s ease-in-out;
}

.my-website a {
    background-color: #0D454E;
}

[data-name="LifeBlueSnake"],
.lifebluesnake .files:hover,
.lifebluesnake .browser:hover {
    background-color: #005792;
    transition: background-color 0.3s ease-in-out;
}

.lifebluesnake a {
    background-color: #00233A;
}

[data-name="Geometric Sequence Checker"],
.geometric-sequence-checker .files:hover,
.geometric-sequence-checker .browser:hover {
    background-color: #33006F;
    transition: background-color 0.3s ease-in-out;
}

.geometric-sequence-checker a {
    background-color: #190037;
}

[data-name="Moving Day Counter"],
.moving-day-counter .files:hover,
.moving-day-counter .browser:hover {
    background-color: #975E23;
    transition: background-color 0.3s ease-in-out;
}

.moving-day-counter a {
    background-color: #4B2F11;
}

[data-name="Metal Gear Timeline"],
.metal-gear-timeline .files:hover,
.metal-gear-timeline .browser:hover {
    background-color: #0E3658;
    transition: background-color 0.3s ease-in-out;
}

.metal-gear-timeline a {
    background-color: #082035;
}

[data-name="React Program"],
.react-program .files:hover,
.react-program .browser:hover {
    background-color: #DC6A00;
    transition: background-color 0.3s ease-in-out;
}

.react-program a {
    background-color: #844000;
}

[data-name="To-Do List"],
.to-do-list .files:hover,
.to-do-list .browser:hover {
    background-color: #008000;
    transition: background-color 0.3s ease-in-out;
}

.to-do-list a {
    background-color: #004000;
}

[data-name="Rock Paper Scissors"],
.rock-paper-scissors .files:hover,
.rock-paper-scissors .browser:hover {
    background-color: #191919;
    transition: background-color 0.3s ease-in-out;
}

.rock-paper-scissors a {
    background-color: #303030;
}

[data-name="YouTube"],
.youtube .files:hover,
.youtube .browser:hover {
    background-color: #E60000;
    transition: background-color 0.3s ease-in-out;
}

.youtube a {
    background-color: #8A0000;
}

[data-name="Amazon"],
.amazon .files:hover,
.amazon .browser:hover {
    background-color: #FF9900;
    transition: background-color 0.3s ease-in-out;
}

.amazon a {
    background-color: #995C00;
}

[data-name="Forms"],
.forms .files:hover,
.forms .browser:hover {
    background-color: #5E63B6;
    transition: background-color 0.3s ease-in-out;
}

.forms a {
    background-color: #343772;
}

[data-name="Calculator"],
.calculator .files:hover,
.calculator .browser:hover {
    background-color: #FF5D9E;
    transition: background-color 0.3s ease-in-out;
}

.calculator a {
    background-color: #FF297F;
}

[data-name="Dogs Gallery"],
.dogs-gallery .files:hover,
.dogs-gallery .browser:hover {
    background-color: #CB975B;
    transition: background-color 0.3s ease-in-out;
}

.dogs-gallery a {
    background-color: #B37A39;
}

[data-name="Mole Game"],
.mole-game .files:hover,
.mole-game .browser:hover {
    background-color: #255347;
    transition: background-color 0.3s ease-in-out;
}

.mole-game a {
    background-color: #16322B;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
