* {
    box-sizing: border-box;
}

body {
    background-color: #001428;
    color: white;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: calc(6vh + 5vw);
    font-size: 20px;
}

@media screen and (min-width: 2000px) {
    body {
        margin-top: calc(3vh + 5vw);
    }
}

@media screen and (min-width: 2200px) {
    body {
        margin-top: calc(1vh + 5vw);
    }
}

@media screen and (max-width: 800px) {

    p {
        font-size: 16px;
        line-height: 1.5;
    }
}

a,
a:visited,
a:active {
    color: white;
}

.disable-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    background-color: #010A14;
    border-bottom: 1px solid white;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header a {
    color: white;
    background-color: #010A14;
    font-family: "Space Mono", monospace;
    font-size: min(5vw, 70px);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
    margin: 0.55vh 0.5vh;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    text-wrap: nowrap;
    transition: color 0.3s, background-color 0.3s;
}

header a:hover {
    color: black;
    background-color: white;
}

header img {
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    border: 3px solid white;
    border-radius: 10px;
    overflow: scroll;
    opacity: 1;
    transition: opacity 0.3s, outline 0.2s, box-shadow 0.2s, filter 0.2s;
}

header img:hover {
    outline: 3px solid transparent;
    box-shadow: 0 0 0 3px black;
    filter: invert(100%);
}

@media screen and (max-width: 1500px) {
    header img {
        opacity: 0;
    }
}

@media screen and (max-width: 700px) {
    header a {
        font-size: 4vw;
        margin: 1vh .5vh;
    }
}

main {
    text-align: center;
    width: 100%;
}

.toronto-cowboy {
    width: 350px;
    filter: grayscale(20%) sepia(70%) hue-rotate(120deg);
    opacity: 0.8;
    display: block;
    position: relative;
    clip-path: circle(42% at 50% 50%);
    transition: all 0.5s ease;
}

.toronto-cowboy:hover {
    clip-path: circle(50% at 50% 50%);
    transform: rotateZ(360deg);
    filter: sepia(50%) hue-rotate(50deg);
    opacity: 1;
}

.my-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-titles {
    margin: 0.5rem 0 -1.2rem 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.title {
    color: rgb(128, 128, 128, 0.7);
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    transition: color 0.5s ease-in-out;
}

.my-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100%;
    margin-bottom: -30px;
    padding-bottom: -30px;
    word-spacing: -0.7rem;
    white-space: nowrap;
}

.my-name h1 {
    color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    -webkit-text-stroke: 0.2vw #404040;
    transition: color 0.5s ease-in-out;
}

@media screen and (min-width: 2000px) {
    .my-name h1 {
        -webkit-text-stroke: 0.1vw #404040;
    }
}

.logo:hover h1 {
    color: white;
}

.logo:hover .title {
    color: #7393B3;
}

@media screen and (max-width: 990px) {
    .my-name h1 {
        font-size: 0;
    }

    .my-name h1::before {
        display: inline-block;
        content: attr(data-text-one);
        font-size: 100px;
    }
}

@media screen and (max-width: 650px) {
    .my-name h1 {
        font-size: 0;
    }

    .my-name h1::before {
        display: inline-block;
        content: attr(data-text-two);
        font-size: 100px;
    }

    .my-titles {
        font-size: 16px;
    }
}

.strong {
    color: #808080;
    cursor: default;
    transition: color 0.5s ease;
}

.strong:hover {
    color: white;
}

.emoji {
    filter: hue-rotate(140deg);
    cursor: default;
    transition: filter 0.3s;
}

.emoji:hover {
    filter: hue-rotate(180deg);
}

@keyframes rotating {

    0%,
    100% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-10deg);
    }
}

.hand {
    display: inline-block;
    transform: rotate(20deg);
    animation: rotating 0.7s ease-in-out infinite;
}

fieldset {
    background-color: #001733;
    margin: 2rem 1rem 1.7rem 1rem;
    padding-bottom: 15px;
    border: 2px solid #7393B3;
    border-radius: 7px;
}

fieldset p {
    margin: 0;
    padding: 0;
}

legend {
    color: #7393B3;
    font-size: 26px;
    margin-left: 15px;
    padding: 5px;
    cursor: default;
}

@media screen and (max-width: 400px) {
    legend {
        font-size: 20px;
    }
}

.channels {
    display: grid;
    justify-items: center;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1125px) {
    .channels {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 615px) {
    .channels {
        grid-template-columns: repeat(1, 1fr);
    }
}

.channels a {
    color: #7393B3;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid #7393B3;
    border-radius: 5px;
    margin: 3px 0 10px 0;
    padding: 0.75rem;
    width: 85%;
    box-shadow: inset 0 0 0 0 #1A8B9D;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.8s;
}

@media screen and (max-width: 400px) {
    .channels a {
        font-size: 16px;
    }
}

.channels a:hover {
    color: white;
    border: 3px solid white;
    box-shadow: inset 500px 0 0 0 #1A8B9D;
}

@media screen and (min-width: 2400px) {
    .channels a:hover {
        box-shadow: inset 700px 0 0 0 #1A8B9D;
    }
}

.collapsible {
    background-color: #001733;
    color: white;
    font-size: 26px;
    text-align: left;
    border: 2px solid #7393B3;
    border-radius: 10px 10px 0 0;
    outline: none;
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 18px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.collapsible:hover::before {
    opacity: 1;
}

.collapsible::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
    content: "";
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: opacity .5s;
}

.collapsible:hover {
    background-color: #002167;
}

.collapsible:after {
    content: '\002B';
    color: #7393B3;
    margin-left: 5px;
    font-weight: bold;
    float: right;
}

.active:after {
    content: "\2212";
}

.content {
    background-color: #001733;
    border: 2px solid #7393B3;
    border-radius: 0 0 10px 10px;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .7s ease-out;
}

h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: -5px;
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 22px;
        margin-bottom: -30px;
    }

    .places {
        margin-top: 10px;
    }
}

@media screen and (max-width: 350px) {
    h2:not(.my-skills) {
        font-size: 15px;
    }
}

.my-skills {
    margin-bottom: -15px;
}

.programming-skills {
    display: grid;
    justify-items: center;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px auto;
    max-width: 1000px;
}

.programming-skills img {
    height: 150px;
    margin: 30px;
    transition: all 0.3s ease-in-out;
}

.programming-skills img:hover {
    filter: brightness(110%) saturate(125%);
    -webkit-filter: brightness(110%) saturate(125%);
    -moz-filter: brightness(110%) saturate(125%);
    transform: scale(1.2);
}

@media screen and (max-width: 890px) {
    .programming-skills img {
        height: 100px;
        margin: 20px;
    }
}

@media screen and (max-width: 670px) {

    .programming-skills {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 20px 0;
    }

    .programming-skills img {
        height: 7.5vw;
        margin: 7px;
    }

    .my-skills {
        margin-bottom: -10px;
    }
}

@media screen and (max-width: 450px) {
    .programming-skills img {
        height: 7vw;
    }
}

@media screen and (max-width: 380px) {
    .programming-skills img {
        height: 6vw;
    }
}

.future {
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
}

@media screen and (max-width: 900px) {
    .future {
        font-size: 17px;
        margin-top: -5px;
    }
}

.movies,
.games {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 6vh 0;
}

@media screen and (max-width: 600px) {

    .movies,
    .games {
        margin-bottom: 3vh;
    }

    .h2-m-g {
        margin-top: 5px;
    }
}

.movie,
.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie img,
.game img {
    width: 70%;
    max-width: 500px;
    border: .2vw solid #7393B3;
    transition: all 0.5s ease;
}

.movie img:hover,
.game img:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 1800px) {

    .movie img:hover,
    .game img:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1000px) {

    .movie img,
    .game img {
        border: .3vw solid #7393B3;
    }
}

@media screen and (max-width: 1700px) {

    .movie img,
    .game img {
        border: .4vw solid #7393B3;
    }
}

@media screen and (max-width: 510px) {

    .movie img,
    .game img {
        border: .5vw solid #7393B3;
    }
}

.swiper {
    background-color: #7393B3;
    width: 80%;
    max-width: 1500px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 6px solid #7393B3;
    border-radius: 7px;

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        transition: color 0.3s ease-in-out;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        color: darkgray;
    }
}

@media screen and (max-width: 800px) {
    .swiper {
        width: 100%;
    }
}

.swiper img {
    width: 100%;
    border-radius: 15px;
}

:root {
    --swiper-navigation-color: white;
    --swiper-navigation-sides-offset: 7px;
}

.places {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.place {
    margin: 50px 20px;
    padding: 0 0 -511px 0;
    position: relative;
}

.img-container {
    position: relative;
    overflow: hidden;
    border: 3px solid #7393B3;
    transition: all 0.5s ease;
}

.img-container img {
    max-width: 100%;
    max-height: 500px;
    height: auto;
    transition: filter 0.5s ease;
    display: block;
}

.city-name {
    color: #f70776;
    font-size: 66px;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    opacity: 0;
}

@media screen and (max-width: 1500px) {
    .city-name {
        font-size: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .city-name {
        font-size: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .city-name {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {
    .city-name {
        font-size: 25px;
    }
}

@media screen and (max-width: 700px) {
    .city-name {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .places {
        flex-direction: column;
    }

    .place {
        margin: 20px;
    }

    .city-name {
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    .city-name {
        font-size: 50px;
    }
}

@media screen and (max-width: 450px) {
    .city-name {
        font-size: 40px;
    }
}

@media screen and (max-width: 370px) {
    .city-name {
        font-size: 30px;
    }
}

@media screen and (max-width: 300px) {
    .city-name {
        font-size: 20px;
    }
}

.place:hover .img-container {
    border: 3px solid #f70776;
    border-radius: 25px;
}

.place:hover .img-container img {
    filter: grayscale(100%);
}

.place:hover .city-name {
    filter: grayscale(0%);
    opacity: 1;
}

.snake-container {
    text-align: center;
}

.snake-container img {
    max-width: 680px;
    height: auto;
    margin-top: 10px;
    border: 3px solid #7393B3;
    transition: all 0.5s ease;
}

.snake-container img:hover {
    filter: contrast(130%);
    border-radius: 70px;
}

@media screen and (max-width: 800px) {
    .snake-container img {
        max-width: 90%;
    }
}

.source {
    font-size: 12px;
    text-align: center;
    margin: 10px 0 20px 0;
}

.source a {
    transition: all 0.5s ease;
}

.source a:hover {
    color: #808080;
}

.hidden {
    border: 2px solid #001428;
    height: 2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2vh 0 1vh 0;
    padding: 0;
    user-select: none;
}

@media screen and (max-width: 1650px) {
    .title {
        margin: 0;
    }
}

.underline {
    font-size: 7vw;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

@media screen and (max-width: 400px) {
    .underline {
        margin: 0 0 -10px 0;
    }
}

@media screen and (min-width: 2000px) {
    .underline {
        font-size: 140px;
    }
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #7393B3;
    opacity: 0;
    transition: all 0.3s ease;
}

.underline:hover {
    color: #7393B3;
}

.underline:hover::after,
.underline:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.underline::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.underline:hover::after,
.underline:focus::after {
    transform: scale(1);
}

fieldset {
    text-align: center;
    background-color: #001733;
    border: 2px solid #7393B3;
    border-radius: 7px;
    margin: 0.5rem 1rem 2rem 1rem;
    padding: 0.7rem;
}

fieldset .text {
    font-size: 24px;
    margin: 0;
    padding: 5px;
}

.projects-container {
    background-color: #001B36;
    text-align: center;
    margin: 0.5rem 1rem 2rem 1rem;
    padding: 20px 0;
    border: 2px solid #7393B3;
    border-radius: 7px;
}

.projects-container h1 {
    margin: 0 0 20px 0;
    padding: 0;
    cursor: default;
}

.projects-container .click {
    color: #D2D2D2;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.projects-container .click:hover {
    color: white;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

.project {
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 95%;
    max-width: 700px;
    height: 100%;
    border: 5px solid #7393B3;
    border-radius: 5px;
    cursor: default;
}

.project:nth-child(2n + 1) {
    margin-left: auto;
}

.project:nth-child(2n) {
    margin-right: auto;
}

.project-name {
    padding: 30px 0;
}

.project-name p,
.project-name h6 {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.project-name p {
    font-size: 35px;
}

.project-name h6 {
    color: #D2D2D2;
    font-size: 25px;
}

.links a {
    font-size: 25px;
    padding: 15px 0;
    width: 100%;
    text-decoration: none;
    display: inline-block;
}

.links .inactive {
    color: darkgray;
}

hr {
    border: 2px solid #7393B3;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 850px) {
    fieldset {
        margin-bottom: 1rem;
    }

    fieldset .text {
        font-size: 16px;
    }

    .projects-container h1 {
        font-size: 6vw;
    }

    .projects-list {
        grid-template-columns: 1fr;
        margin: 0 20px;
    }

    .project {
        width: 100%;
        max-width: none;
    }

    .project-name p {
        font-size: 7.5vw;
    }

    .project-name h6 {
        font-size: 4vw;
    }

    .links a {
        font-size: 5vw;
    }

    .project:nth-child(2n + 1),
    .project:nth-child(2n) {
        margin-left: auto;
        margin-right: auto;
    }
}

.my-website {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #004567;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #00273A;
    }
}

.my-website {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #004567;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #00273A;
    }
}

.lifebluesnake {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #005792;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #003458;
    }
}

.geometric-sequence-checker {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #33006F;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #190037;
    }
}

.moving-day-counter {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #975E23;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #4B2F11;
    }
}

.metal-gear-timeline {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #0E3658;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #082035;
    }
}

.service-replica {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #E50914;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #72050A;
    }
}

.hoodie-color-picker {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #E8630A;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #8B3B06;
    }
}

.youtube {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #E60000;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #8A0000;
    }
}

.amazon {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #FF9900;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #995C00;
    }
}

.to-do-list {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #008000;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #004000;
    }
}

.rock-paper-scissors {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #191919;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #303030;
    }
}

.forms {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #5E63B6;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #343772;
    }
}

.calculator {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #FF5D9E;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #FF297F;
    }
}

.dogs-gallery {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #CB975B;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #B37A39;
    }
}

.mole-game {

    .project-name,
    .files:hover,
    .browser:hover {
        background-color: #255347;
        transition: background-color 0.3s ease-in-out;
    }

    a {
        background-color: #16322B;
    }
}