.swiper {
    background-color: #001733;
    border: 3px solid #7393B3;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

:root {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-color: darkgray;
}
